.skill-box {
    height: 100vh;
    width : 60vh;
    margin-left : 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.skill {
    /* display: inline-block; */
    color : white;
    font-size : 120%;
    height : 6%;
    margin : 2% 0 0 2%;
    padding: 1% 8% 0 8%;
    border-radius : 10vh;
    text-align: center;
    /* vertical-align:middle; */
    /* justify-content: center; */
    /* border : 2px solid  #EF79A2; */
    background-color:  #EF79A2;
}