.App {
    background-color: #edd221;
    display: flex;
    flex-direction: column;
    left : 0;
    right: 0;
}

.content {
    background-color: black;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 20vh;
    border-top-right-radius: 20vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.home {
    width: 80%;
    height: auto;
    /* padding: 5%; */
}

.pic-box {
    width : 40vh;
    height: 40vh;
    display: block;
    margin : 10% 10% 0 20%;
    /* margin-right: auto; */
}

.pic-box > img {
    margin : 8%;
    border-radius: 50%;
    height : 100%;
    width : 100%;
}

.about {
    width: 100%;
    color : white;
    font-size: 23px;
    text-align: center;
    padding: 12% 5% 5% 5%;
}

.about > a {
    color: #edd221;
    text-decoration: none;
}

.slide {
    height: 60vh;
    align-items: center;
    margin-bottom: 15vh;
    /* background-color: aquamarine; */
}
.slide > img{
    max-height: 100%;
    max-width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom:20%; */
    /* margin : 0 10% 15% 10%; */
    /* padding-bottom: 5%; */
}



.collapser {
    background-color: black;
    display: block;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    border-bottom-left-radius: 50vh;
    border-bottom-right-radius: 50vh;
}

.collapser > button{
    cursor: pointer;
    font-size: larger;
    width: 80%;
    margin: 3% 10% 3% 10%;
    height: 8vh;
    border-radius: 4vh;
}

.collapser > button:hover {
    background-color: #edd221;
    color: black;
}

@media only screen and (max-width : 768px)  {

    .content {
        flex-direction: column;
    }

    .home {
        width : 100%;
    }

    
.pic-box {
    width : 40vh;
    height: 40vh;
    display: block;
    margin : 10% 10% 0 20%;
    /* margin-right: auto; */
}

.pic-box > img {
    margin: 20% 10% 0 10%;
    border-radius: 50%;
    /* height : 100%;
    width : 100%; */
}

.about {
    width: 70%;
    color : white;
    font-size: 15px;
    text-align: center;
    margin: 0% 10% 5% 10%;
}

.collapser > button{
    cursor: pointer;
    font-size: larger;
    width: 70%;
    margin: 0% 10% 5% 15%;
    height: 8vh;
    border-radius: 5vh;
}

}

@media only screen and (max-width : 425px)  {
    .pic-box {
        width : 100px;
        height: 80px;
        margin-top: 20px;
        padding-top: 50px;
        display: block;
        padding-top : 4vh;
        margin-left: 27%;
        margin-right: 30%;
    }

    .collapser > button{
        display: none;
    }

    .about {
        font-size: 12px;
    }



}